.card1 {
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 3px 6px #ccc;
}

.title1 {
	border-radius: 5px 5px 0px 0px;
	font-size: 150%;
	padding: 15px;
	text-align: center;
	color: #444;
	background-color: #1dcd00;
}

.content1 {
	padding: 10px;
	color: #666;
	text-align: right;
}

.content2 {
	padding: 10px;
	color: #666;
	text-align: right;
}

#profile-image {
	border-radius: 50%;
	width: 30%;
	height: 40%;
	display: none;
}
